.footer {
    background-color: #f8f8f8;
    color: #333;
    padding: 40px 40px;
    font-family: Arial, sans-serif;
    border-top: 1px solid #ddd;
  }
  
  
  .footerContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .footerLeft,
  .footerCenter,
  .footerRight {
    flex: 1;
    min-width: 200px;
  }
  .footerLeft {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .footerLeft p{
    font-family: Poppins;
font-size: 15px;
font-weight: 400;
line-height: 22.5px;
text-align: left;
  }
  
  .logo {
    width: 250px;
  }
  
  .appLinks {
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
  }
  
  .appBadge {
    width: 120px;
  }
  
  
  .footerCenter {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footerCenter span {
    font-family: Poppins;
font-size: 13px;
font-weight: 400;
line-height: 22.5px;
text-align: left;
  }
  .footerCenter p {
    font-family: Poppins;
font-size: 18px;
font-weight: 700;
line-height: 43px;
text-align: left;
margin: 0;
  }
  
  .newsletterForm {
    display: flex;
    /* gap: -5px; */
    /* margin-bottom: 15px; */
    /* border-radius: 8px; */
  }
  .inputContainer{
    position: relative;
  }
  .newsletterInput {
    /* flex: 1; */
    width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 120px;
    /* position: relative; */
    margin: 0;
  }
  
  .footerRight {
    display: flex;
    gap: 25px;
  }

  .newsletterButton {
    padding: 10px 20px;
    background-color: #ff9900;
    color: #fff;
    border: none;
    border-radius: 120px;
    cursor: pointer;
    position: absolute;
    right: 100px;
  }
  
  .newsletterButton:hover {
    background-color: #e68a00;
  }
  
  .socialIcons {
    margin-top: 10px;
  }
  
  .socialIcon img {
    margin-right: 10px;
    /* font-size: 10px; */
    width: 35px;
    text-decoration: none;
  }
  
  .legalLinks,
  .importantLinks {
    margin-bottom: 20px;
  }
  
  .legalLinks h4,
  .importantLinks h4 {
    font-family: Poppins;
font-size: 18px;
font-weight: 700;
line-height: 43px;
text-align: left;
margin: 0;
  }
  
  .legalLinks a,
  .importantLinks a {
    display: block;
    /* margin-top: 10px;
    margin-bottom: 15px; */
    color: #555;
    text-decoration: underline;
    font-family: Poppins;
font-size: 15px;
font-weight: 400;
line-height: 33px;
text-align: left;
  }
  
  .legalLinks a:hover,
  .importantLinks a:hover {
    color: #ff9900;
  }
  
  .footerBottom {
    text-align: center;
    /* margin-top: 20px; */
    font-size: 14px;
    background-color: black;
    position: 0;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 15PX;
  }
  .footerBottom .p{
    padding-left: 50px;
  }
  
  .policy{
    display: flex;
    gap: 22px;
    padding-right: 50px;
  }
  