.container{
    /* background-color: aqua; */
    width: 463px;
    display: flex;
    flex-direction: column;
    
}

.logo{
    display: block;
    margin: 0 auto 15px; 
    width: 215px; 
    height: 53px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
form h2{
    font-family: Poppins;
font-size: 30px;
font-weight: 600;
line-height: 36px;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
form p{
    font-family: Poppins;
font-size: 20px;
/* font-weight: 400; */
line-height: 32px;
text-align: left;
color: #313957;

}
.formbox{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0.01em;
text-align: left;
}

.formbox input{
    border: 1px solid #00000066;
    border-radius: 100px;
    padding: 8px;
    margin: 0;
    width: 465px;
}

button{
    background-color: #FC8A06;
    border: none;
    border-radius: 100px;
    padding: 8px;
    color: #fff;
}
.span{
    font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 28.8px;
letter-spacing: 0.01em;
text-align: center;
}
.spam{
    font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 28.8px;
letter-spacing: 0.01em;
text-align: center;
color: #FC8A06;
cursor: pointer;
}
.error{
    color: red;
    position: absolute;
    bottom: -15px;
    left: 5px;
    margin: 0;
    font-size: 15px;
 }
 .formbox input{
    border: 1px solid red;
 }